* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100vh;
}

p {
	margin: 0;
	padding: 0;
}

.cont_col {
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 25px 0 10px 0;
}

#header_ctn {
	font-size: 26px;
	font-weight: 900;
}

.wrapper_cont_RaceTrack {
	display: flex;
	justify-content: center;
}

#cont_race_track {
	width: 370px;
	height: 200px;
	margin-bottom: 20px;
	background-image: url("../assets/world-map-1997599_1280.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #bdbdbd;
}

#race_track {
	position: relative;
	height: 92%;
	width: 94%;
	z-index: 5;
}

#cont_ranking {
	position: relative;
	padding: 0 10px;
	margin-bottom: 20px;
}

.cont_ranking_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.cont_header {
	font-size: 20px;
	font-weight: 800;
}

#icon_arrowDown,
#icon_arrowUp {
	color: #bdbdbd;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#icon_arrowUp {
	display: none;
}

#ranking {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.race_car {
	position: absolute;
	transition: top 5s linear, left 5s linear;
}

.fa.race_car {
	font-size: 20px;
}

.ranking_card {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding: 5px;
	white-space: nowrap;
	box-shadow: 2.5px 2.5px 2.5px #9e9e9e;
	position: absolute;
	z-index: 0;
	transition: top 1.5s linear;
}

.ranking_card:last-child {
	margin-bottom: 0;
}

.cont-ctn {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.cont-name {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.ranking_name {
	font-size: 16px;
	font-weight: 800;
	width: 100%;
}

.ranking_make {
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
}

.cont-info {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.cont-rank {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	width: 100%;
	height: 50%;
	margin-bottom: 5px;
}

.ranking_rank {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	font-weight: 600;
	width: 50%;
	margin-right: 2%;
	white-space: nowrap;
}

.ranking_rank_total {
	font-size: 16px;
	font-weight: 600;
	height: 100%;
	margin-left: 3px;
}

.cont-distance {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.ranking_distance {
	font-size: 20px;
	font-weight: 600;
	white-space: nowrap;
}

/* ------------------ */
/* Button section */
/* button colors:
    background: #2196f3 (blue 500)
    color: white

    hover:
        background: #1976d2 (blue 700)
        color: white

    disabled:
        background: #bdbdbd (grey 400)
        color: #757575 (grey 600) */

.wrapper_cont_btn {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 10px;
}

.cont_btn_ctn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	margin-bottom: 20px;
}

.btn {
	width: 120px;
	height: 50px;
	background: #2196f3;
	color: white;
	border: none;
	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
	background: #1976d2;
	cursor: pointer;
}

.btn:disabled {
	background: #bdbdbd;
	color: #757575;
}

.btn:disabled:hover {
	background: #bdbdbd;
	cursor: default;
}

/* ------------------ */
/* Selection of number of laps */

.wrapper_lap_btn {
	width: 100%;
	margin-top: 20px;
}

.lap_section {
	position: relative;
	padding: 0 10px;
	margin-bottom: 10px;
}

#icon_info {
	cursor: pointer;
}

.cont_lap_selectors {
	display: flex;
	justify-content: center;
	height: 40px;
	margin-bottom: 10px;
}

.cont_lap_ctn {
	display: flex;
	justify-content: center;
	width: 150px;
}

.fa-plus-square-o {
	color: #2196f3;
}

.fa-plus-square-o:hover {
	color: #1976d2;
	cursor: pointer;
}

#icon_plus {
	font-size: 28px;
	color: #2196f3;
}

#icon_plus:hover {
	color: #1976d2;
	cursor: pointer;
}

#icon_minus {
	font-size: 28px;
	color: #2196f3;
}

#icon_minus:hover {
	color: #1976d2;
	cursor: pointer;
}

#icon_plus.icon_disabled {
	color: #bdbdbd;
}

#icon_plus:hover.icon_disabled {
	cursor: default;
}

#icon_minus.icon_disabled {
	color: #bdbdbd;
}

#icon_minus:hover.icon_disabled {
	cursor: default;
}

.cont_plusMinus {
	display: flex;
	align-items: center;
}

.cont_lap_counter {
	height: 100%;
	display: flex;
	align-items: center;
}

#lap_counter {
	font-size: 24px;
	font-weight: 600;
	margin: 0 20px;
}

.lap_header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
}

.lap_header_title {
	font-size: 20px;
	font-weight: 900;
	margin-right: 10px;
}

#cont_lap_info {
	position: absolute;
	top: 32.5px;
	display: none;
	height: 40px;
	padding: 10px;
	background: #2196f3;
	color: white;
	opacity: 0.9;
	border-radius: 5px;
}

.lap_header_subTitle {
	font-size: 15px;
	font-weight: 400;
}

/* ------------------ */
/* Lap counter */
.wrapper_lapCounter {
	width: 100%;
	height: 30px;
}

#cont_lapCounter {
	display: none;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 5px;
}

.lap_title {
	font-size: 20px;
	font-weight: 900;
	height: 100%;
	width: 60px;
}

#cont_lap {
	display: flex;
	justify-content: flex-end;
	width: 60px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#lap_count {
	font-size: 20px;
	font-weight: 900;
	margin-right: 7.5%;
	white-space: nowrap;
}

#lap_count_total {
	font-size: 16px;
	font-weight: 900;
}


/*----------------------------------*/
@media only screen and (min-width: 768px) {
	.wrapper_raceTrack_ranking {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	#cont_race_track {
		width: 450px;
		height: 245px;
	}

	.wrapper_lap_btn {
		position: absolute;
		top: 350px;
		left: -385px;		
	}

	#icon_arrowDown,
	#icon_arrowUp {
		display: none;
	}

	.wrapper_raceTrack_ranking {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#cont_ranking {
		height: 750px;
	}

	#ranking {
		height: 100%;
		width: 290px;
		overflow-y: initial ;
		overflow-x: initial ;
	}
}

/*----------------------------------*/
@media only screen and (min-width: 1000px) {

	#cont_race_track {
		width: 650px;
		height: 350px;
	}

	#ranking {
		width: 325px;
		overflow-y: initial ;
		overflow-x: initial ;
	}

	.wrapper_lap_btn {
		top: 480px;
		left: -500px;
		width: 100%;
	}
}
